.places {
	margin-top: 30px;
	padding-top: 30px;
	margin-bottom: 20px;
	min-height:100px;
}

.places h1 {
	font-size: 30px;
	margin: 0;
	color: #333;
}

.place-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
}

.article {
	/* flex: 0 0 calc(390px - 40px); */
	width: 390px;
	padding: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	flex-direction: column;
	display: flex;
	margin: 20px;
}

.article .title{
	width: 100%;
	position: relative;
}

.article h2 {
	font-size: 30px;
	text-align: center;
	margin: 0;
	padding-bottom:30px;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 20px;
	right: 0;
	margin-left: auto;
	margin-top:-30px;
}

.information {
	display: flex;
	justify-content: space-around;
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	padding: 0 20px;
	align-items:center;
	flex-flow: row wrap;
}

.max_guest, .number_rooms, .number_bathrooms {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.max_guest img, .number_rooms img, .number_bathrooms img {
	margin-right: 5px;
}

.user {
	font-weight: bold;
	margin-top: 20px;
}

.description {
	margin-top: 20px;
}

.places .reviews {
	margin-top: 40px;
}

.places .reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-align: left;
	color: #333;
}

.places .reviews ul {
	list-style: none;
	padding: 0;
}

.places .reviews li {
	margin-bottom: 20px;
}

.places .reviews h3 {
	font-size: 14px;
	margin: 0;
	padding: 0;
	padding-bottom:5px;
}

.places .reviews p {
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.places .amenities {
	margin-top: 40px;
}

.places .amenities h3 {
	font-size: 16px;
	margin:0;
	padding: 5px 0;
}

.places .amenities h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
	padding-bottom:5px;
	margin-bottom: 10px;
	text-align: left;
	color: #333;
}

.places .amenities ul {
	list-style: none;
	padding: 0;
}

.places .amenities li {
	margin-bottom: 10px;
	display: flex;
	align-items:center;
}


.places .amenities li img {
	margin-right:10px;
	width: 20px;
	height: 20px;
}


